/** 
	- - - - - - - - - - - -

	Title: A Novel Concept

	Version: 1.0

	Date: September 2014

	- - - - - - - - - - - -
	"A Novel Concept"
	CSS Styling
	Dylan Huculak
	Jeff Codling
>>>>
	(IF YOU ADD TO CODE, INCLUDE NAME HERE)
	2014 **/
	
body {
	font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #777;
	background: #404040;
	margin: 0;
	padding: 0;
}

h3 {
	color: #968477;
}

label {
	cursor: default;
}

#bookMenu a, #links a {
	color: #f4e9d4;
	text-decoration: none;
}

#bookMenu {
	height: 50px;
	width: 595px;
	float: right;
	position: relative;
	top: 120px;
}

#bookMenu ul {
	display: block;
}

#bookMenu ul li {
	font-family: 'MyriadProBoldCondensed';
	font-size: 19px;
	color: #d0ba9d;
	line-height: 30px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	padding: 12px 14px;
}

#box { /* ID FOR ALL ELEMENTS WITHIN HEADER, CONTENT, FOOTER */
	padding: 0;
	margin: 0;
	height: auto;
	margin: 0 auto;
}

#contentBg {
	//min-height: 1051px;
	//min-width: 1000px;
	//max-height: 1051px;
	/* NO MAX WIDTH FOR BACKGROUND */
	background: #f4f4f4;
	background: url('../images/woodWall.jpg');
	background-position: top left;
	margin: 0;
	padding: 0;
}

#content { 
	color: black;
	padding: 2em;
}

#footerBg {
	height: 171px;
	min-width: 1000px;
	/* NO MAX WIDTH FOR BACKGROUND */
	background: #35281F;
	margin: 0;
	padding: 0;
}

#footer {
	max-width: 1000px;
	margin: 0 auto;
}

#footerInfo { /* LEFT COLUMN */
	display: block;
	float: left;
	width: 200px;
	margin: 20px;
}

#footerService { /* CENTER COLUMN */
	display: block;
	padding: 20px 160px 5px 160px;
	margin: 0 auto;
	width: 200px;
}

#footerAccount { /* RIGHT COLUMN */
	display: block;
	float: right;
	width: 200px;
	margin: 20px;
}

#headerBg {
	height: 171px;
	min-width: 1000px;
	/* NO MAX WIDTH FOR BACKGROUND */
	background: url('../images/headerBgRepeater.png');
	margin: 0;
}

#header {
	height: 171px;
	max-width: 1000px;
	background: url('../images/headerBg.jpg');
	margin: 0 auto;
}

#header #welcome {
	position: absolute;
	top: 18px;
	right: 245px;
	width: 298px;
	text-align: right;
	color: #c7b79e;
}

#header #welcome a {
	color: #fff;
}

#links {
	position: absolute;
	right: 20px;
	top: 92px;
	font-size: 12px;
	padding-right: 10px;
}

.footerList a {
	color: #c3ab8d;
	text-decoration: none;
}

.formStyleA {
	display: block;
	margin: 0;
	outline: none;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666
}

.formStyleA header, .formStyleA fieldset, .formStyleA footer {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.formStyleA fieldset {
	padding: 25px 30px 5px;
	border: none;
	background: rgba(255,255,255,.9);
}

.formStyleA footer {
	padding: 15px 30px 25px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
}

.formStyleA footer:after {
	content: '';
	display: table;
	clear: both;
}

.formStyleA header {
	padding: 20px 30px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
}

.formStyleA section {
	margin-bottom: 20px;
}

.formStyleA .button {
	background-color: #2da5da;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}

.formStyleA .col {
	width: 50%;
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.formStyleA .row {
	margin: 0 -15px;
}

.formStyleA .input, .formStyleA .select, .formStyleA .textarea, .formStyleA .radio, .formStyleA .checkbox, .formStyleA .toggle, .formStyleA .button {
	position: relative;
	display: block;
}

.formStyleA .input input, .formStyleA .select select, .formStyleA .textarea textarea {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}