{{#rows}}
	<div class="book">
		<div class="coverart"><img src="{{BOOK_ID}}"></div>
		<div class="title">{{BOOK_TITLE}}</div>
		<div class="author">{{AUTHOR_LAST}}, {{AUTHOR_FIRST}} {{AUTHOR_MIDDLE}}</div>
		<div class="ShortDescription">{{BOOK_PLOT}}</div>
	</div>
{{/rows}}
