<!-- 
~~~~~~~~~~~~~~~~~~~~

Title: books.tmpl - Books Handlebars template

Version: 1.1

Date: October 10, 2014

By: Jeff Codling
~~~~~~~~~~~~~~~~~~~~
-->
{{#rows}}
<div class="book" onclick='showbook("{{BOOK_ID}}","{{BOOK_TITLE}}","{{BOOK_PLOT}}","{{AUTHOR_LAST}}","{{AUTHOR_FIRST}}","{{AUTHOR_MIDDLE}}")'>
	<div class="coverart"><img src="images/{{BOOK_ID}}.jpg"></div>
	<div class="title">{{BOOK_TITLE}}</div>
	<div class="author">{{AUTHOR_LAST}}, {{AUTHOR_FIRST}} {{AUTHOR_MIDDLE}}</div>
</div>
<div class="book" onclick='showbook("{{BOOK_ID}}","{{BOOK_TITLE}}","{{BOOK_PLOT}}","{{AUTHOR_LAST}}","{{AUTHOR_FIRST}}","{{AUTHOR_MIDDLE}}")'>
	<div class="coverart"><img src="images/{{BOOK_ID}}.jpg"></div>
	<div class="title">{{BOOK_TITLE}}</div>
	<div class="author">{{AUTHOR_LAST}}, {{AUTHOR_FIRST}} {{AUTHOR_MIDDLE}}</div>
</div>
<div class="book" onclick='showbook("{{BOOK_ID}}","{{BOOK_TITLE}}","{{BOOK_PLOT}}","{{AUTHOR_LAST}}","{{AUTHOR_FIRST}}","{{AUTHOR_MIDDLE}}")'>
	<div class="coverart"><img src="images/{{BOOK_ID}}.jpg"></div>
	<div class="title">{{BOOK_TITLE}}</div>
	<div class="author">{{AUTHOR_LAST}}, {{AUTHOR_FIRST}} {{AUTHOR_MIDDLE}}</div>
</div>
{{/rows}}
